[submodule "S01"]
	path = S01
	url = git@github.com:Aravind-Sundararajan/1joint.git
	branch = S01
[submodule "S02"]
	path = S02
	url = git@github.com:Aravind-Sundararajan/1joint.git
	branch = S02
[submodule "generic"]
	path = generic
	url = git@github.com:Aravind-Sundararajan/1joint.git
	branch = generic
